body {
  background-color: #715950;
}

article {
    background-color: #FFFFFF;
}

aside {
    background-color: #FFFFFF;
}
.color1 {
    background-color: #A1846A;
}
.color2 {
    background-color: #FFFFFF;
}
* {
  padding: 0;
  margin: 0;
}
p {
  margin-bottom: 20px;
}
.wrapper {
  width: 80%;
  margin: auto;
  overflow:hidden;
}
header {
  background: rgba(0,0,0,0.9);
  width: 100%;
  position: fixed;
  z-index: 10;
}

nav {
  float: left; /* Desplazamos el nav hacia la izquierda */
}
nav ul {
  list-style: none;
  overflow: hidden; /* Limpiamos errores de float */
}
nav ul li {
  float: left;
  font-family: Arial, sans-serif;
  font-size: 16px;
}
nav ul li a {
  display: block; /* Convertimos los elementos a en elementos bloque para manipular el padding */
  padding: 20px;
  color: #fff;
  text-decoration: none;
}
nav ul li:hover {
  background: #3ead47;
}
.contenido {
  padding-top: 80px;
}
.plegable{
        max-height:0;
        overflow:hidden;
        -webkit-transition: max-height 10ms ease-out;
        -moz-transition: max-height 500ms ease-out;
        -o-transition: max-height 500ms ease-out;
        transition: max-height 500ms ease-out;
      }
      .plegable.desplegado{
        max-height:500;
        -webkit-transition: max-height 100ms ease-out;
        -moz-transition: max-height 500ms ease-out;
        -o-transition: max-height 500ms ease-out;
        transition: max-height 500ms ease-out;
      }

h2{
        cursor:pointer;
}
  
.index {
  background-color: #ffffff;
}

